<ion-content class="login-content">
  <div class="login-container">

    <div class="pokeball-container">
      <div class="pokeball">
        <div class="pokeball-top"></div>
        <div class="pokeball-middle"></div>
        <div class="pokeball-bottom"></div>
        <div class="pokeball-button"></div>
      </div>
    </div>

    <div class="login-header">
      <h1>Centro Pokémon</h1>
      <p>Inicia sesión para continuar</p>
    </div>

    <div class="login-form">

      <div class="input-wrapper">
        <ion-icon name="mail-outline" class="input-icon"></ion-icon>
        <ion-input type="email" [(ngModel)]="email" placeholder="Correo electrónico" class="custom-input">
        </ion-input>
      </div>

      <div class="input-wrapper">
        <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
        <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña" class="custom-input">
        </ion-input>
      </div>

      <div class="error-message" *ngIf="errorMessage">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <span>{{ errorMessage }}</span>
      </div>

      <ion-button expand="block" class="login-button" (click)="login()" [disabled]="isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">
          <ion-icon name="enter-outline" slot="start"></ion-icon>
          Iniciar Sesión
        </span>
      </ion-button>

      <div class="hint-text">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>trainer@pokemon.com / Trainer123!</span>
      </div>

    </div>
  </div>
</ion-content>